<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>MVP Doações Alagoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
  <div class="toast-body">
    Ação realizada com sucesso!
  </div>
</div>

<script>
  $('.toast').toast('show');
</script>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Doações Alagoas</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/instituicoes">Instituições</a></li>
      <li class="nav-item"><a class="nav-link" href="/doar">Doar</a></li>
      <li class="nav-item"><a class="nav-link" href="/campanhas">Campanhas</a></li>
      <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
      <li class="nav-item"><a class="nav-link" href="/doadores">Doadores</a></li>

    </ul>
  </div>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
</body>
</html>
