{% extends 'base.html' %}

{% block content %}
<h2>Instituições afetadas</h2>

<div class="row">
  {% for i in instituicoes %}
  <div class="col-md-4">
    <div class="card mb-3 shadow rounded">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagem da instituição">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-home"></i> {{ i[1] }}</h5>
        <p class="card-text">Cidade: {{ i[2] }}</p>
        <p class="card-text">
          Necessidade: <span class="badge badge-warning">{{ i[3] }}</span>
        </p>
        <a href="/doar" class="btn btn-outline-primary">Quero Ajudar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<hr>

<h3>Cadastrar nova instituição</h3>
<form method="POST">
  <div class="form-group">
    <label>Nome:</label>
    <input class="form-control" type="text" name="nome" required>
  </div>
  <div class="form-group">
    <label>Cidade:</label>
    <input class="form-control" type="text" name="cidade" required>
  </div>
  <div class="form-group">
    <label>Necessidade:</label>
    <input class="form-control" type="text" name="necessidade" required>
  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}
